<div>
	<h3 class="home-header" >Welcome to Starwars World</h3>
</div>

<div class="login-page">
  <div class="form">
    <form class="login-form" name="loginf" id="loginf" novalidate>
      <input name="uname" type="text" placeholder="username" ng-model="userdata.username" required />
      <input name="pass" type="password" placeholder="password" ng-model="userdata.passwd" required />
      <button ng-disabled="loginf.uname.$invalid || loginf.pass.$invalid" ng-click="login()">login</button>
    </form>
  </div>
</div>
<div ng-if="showLoad==1" class="loader" id="LoadingImage">
  <img src="css/img/loader.gif" />
</div>
